<body>
  <select #myselect name="Bosses" id="bosses" (change)="filtrar($event)">
    <option value="">Bosses</option>
    <option [value]="boss.id" *ngFor="let boss of encounterLibrary">{{boss.name}}</option>
  </select>
  <select #myselect name="Slots" id="slots" (change)="filtrar2($event)">
    <option value="">Slots</option>
    <option [value]="slot" *ngFor="let slot of listSlots">{{capitalizeFirstLetter(slot)}}</option>
  </select>
  <select #myselect name="DPS" id="players" (change)="filtrar4($event)">
    <option value="">DPS</option>
    <option value="500">500</option>
    <option value="1000">1000</option>
    <option value="2000">2000</option>
    <option value="4000">4000</option>
    <option value="6000">6000</option>
    <option value="8000">8000</option>
  </select>
  <select #myselect name="Players" id="players" (change)="filtrar3($event)">
    <option value="">Players</option>
    <option [value]="player.name" *ngFor="let player of playersLibrary">{{capitalizeFirstLetter(player.name)}}</option>
  </select>
  <span *ngIf="actualIlvl" style="font-size: 200%;">{{actualIlvl}}</span>
  <span style="float: right; font-size: 200%;"><b>{{playersLibrary.length}}/{{reports.length}}</b></span>
  <button (click)="resetAll()">Reset</button>
  <div *ngFor="let slot of fitems">
    <div *ngIf="quitarVacios(slot)">
      <div *ngFor="let item of slot[1]" class="mainDiv">
        <img [src]="getImgLink(item.id)"><span>{{getBoss(item.boss)}} || {{item.armor}} {{capitalizeFirstLetter(slot[0])}}</span>
          <canvas baseChart
            [data]="getChartData(item.id)"
            [options]="getCharOptions()"
            [type]="'bar'">
          </canvas>
      </div>
    </div>
  </div>
</body>

